body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: blanchedalmond;
  color: black;
  padding: 15px 0;
}

nav {
  margin: 10px 0;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  background: white;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}
.hero {
  padding: 30px 20px;
}

.hero-img {
  max-width: 500px;
}

.hero h2 {
  margin: 15px 0 5px;
}

.hero p {
  font-size: 14px;
  color: #555;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: transparent;
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover {
  text-decoration: underline;
}
section {
  padding: 30px 20px;
  border-top: 1px solid #ddd;
}

h2 {
  margin-bottom: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.item {
  text-align: center;
}

.item img {
  width: 150px;     
  height: 150px;      
  object-fit: cover;  
  border-radius: 10px;
}
/* Promo Bar */
.promo-bar {
  background: #f3f3f3;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.promo-bar h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.promo-bar p {
  margin: 5px 0;
  color: #333;
}

.btn-promo {
  display: inline-block;
  margin-top: 10px;
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.btn-promo:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: blanchedalmond;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding: 20px 0 10px;
  font-size: 14px;
  color: #333;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.footer-col {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-col h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 5px;
}

.footer-col ul li a {
  color: blue;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}
